<po-page-edit
  p-title="Cadastro grupos"
  (p-cancel)="cancel()"
  (p-save)="save()"
  (p-save-new)="saveNew()">
   <form [formGroup]="formularioGrupos" (ngSubmit)="save()">
    <po-container>
      <div class="po-row" >
        <po-input class="po-md-6" formControlName="nome" p-label="Nome"/>
        <po-input class="po-md-6" formControlName="descricao" p-label="Descrição"/>
      </div>
    </po-container>
  </form>
  <app-tabela-dinamica [columns]="columns" [items]="grupos"></app-tabela-dinamica>
</po-page-edit>
