<po-page-edit
  p-title="Cadastro contatos"
  (p-cancel)="cancel()"
  (p-save)="save()"
  (p-save-new)="saveNew()">

  <form [formGroup]="formularioContatos" (ngSubmit)="save()">
    <po-container>
      <div class="po-row">
        <po-input class="po-md-4" formControlName="nome" p-label="Nome"/>
        <po-input class="po-md-4" formControlName="email" p-label="E-mail"/>
        <po-input class="po-md-4" formControlName="cargo" p-label="Cargo"/>
      </div>
      <div class="po-row">
        <po-input class="po-md-6" formControlName="numero" p-label="Número"/>
        <po-multiselect p-label="Grupos" class="po-md-6" [p-options]="options"></po-multiselect>
      </div>
    </po-container>
  </form>
</po-page-edit>
